In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
data = pd.read_json('Desktop/receipts.json', lines=True)

In [4]:
print(data)

                                       _id  bonusPointsEarned  \
0     {'$oid': '5ff1e1eb0a720f0523000575'}              500.0
1     {'$oid': '5ff1e1bb0a720f052300056b'}              150.0
2     {'$oid': '5ff1e1f10a720f052300057a'}                5.0
3     {'$oid': '5ff1e1ee0a7214ada100056f'}                5.0
4     {'$oid': '5ff1e1d20a7214ada1000561'}                5.0
...                                    ...                ...
1114  {'$oid': '603cc0630a720fde100003e6'}               25.0
1115  {'$oid': '603d0b710a720fde1000042a'}                NaN
1116  {'$oid': '603cf5290a720fde10000413'}                NaN
1117  {'$oid': '603ce7100a7217c72c000405'}               25.0
1118  {'$oid': '603c4fea0a7217c72c000389'}                NaN

                                bonusPointsEarnedReason  \
0     Receipt number 2 completed, bonus point schedu...
1     Receipt number 5 completed, bonus point schedu...
2                            All-receipts receipt bonus
3                            All-receipts receipt bonus
4                            All-receipts receipt bonus
...                                                 ...
1114                        COMPLETE_NONPARTNER_RECEIPT
1115                                                NaN
1116                                                NaN
1117                        COMPLETE_NONPARTNER_RECEIPT
1118                                                NaN

                    createDate               dateScanned  \
0     {'$date': 1609687531000}  {'$date': 1609687531000}
1     {'$date': 1609687483000}  {'$date': 1609687483000}
2     {'$date': 1609687537000}  {'$date': 1609687537000}
3     {'$date': 1609687534000}  {'$date': 1609687534000}
4     {'$date': 1609687506000}  {'$date': 1609687506000}
...                        ...                       ...
1114  {'$date': 1614594147000}  {'$date': 1614594147000}
1115  {'$date': 1614613361873}  {'$date': 1614613361873}
1116  {'$date': 1614607657664}  {'$date': 1614607657664}
1117  {'$date': 1614604048000}  {'$date': 1614604048000}
1118  {'$date': 1614565354962}  {'$date': 1614565354962}

                  finishedDate                modifyDate  \
0     {'$date': 1609687531000}  {'$date': 1609687536000}
1     {'$date': 1609687483000}  {'$date': 1609687488000}
2                          NaN  {'$date': 1609687542000}
3     {'$date': 1609687534000}  {'$date': 1609687539000}
4     {'$date': 1609687511000}  {'$date': 1609687511000}
...                        ...                       ...
1114                       NaN  {'$date': 1614594148000}
1115                       NaN  {'$date': 1614613361873}
1116                       NaN  {'$date': 1614607657664}
1117                       NaN  {'$date': 1614604049000}
1118                       NaN  {'$date': 1614565354962}

             pointsAwardedDate  pointsEarned              purchaseDate  \
0     {'$date': 1609687531000}         500.0  {'$date': 1609632000000}
1     {'$date': 1609687483000}         150.0  {'$date': 1609601083000}
2                          NaN           5.0  {'$date': 1609632000000}
3     {'$date': 1609687534000}           5.0  {'$date': 1609632000000}
4     {'$date': 1609687506000}           5.0  {'$date': 1609601106000}
...                        ...           ...                       ...
1114                       NaN          25.0  {'$date': 1597622400000}
1115                       NaN           NaN                       NaN
1116                       NaN           NaN                       NaN
1117                       NaN          25.0  {'$date': 1597622400000}
1118                       NaN           NaN                       NaN

      purchasedItemCount                             rewardsReceiptItemList  \
0                    5.0  [{'barcode': '4011', 'description': 'ITEM NOT ...
1                    2.0  [{'barcode': '4011', 'description': 'ITEM NOT ...
2                    1.0  [{'needsFetchReview': False, 'partnerItemId': ...
3                    4.0  [{'barcode': '4011', 'description': 'ITEM NOT ...
4                    2.0  [{'barcode': '4011', 'description': 'ITEM NOT ...
...                  ...                                                ...
1114                 2.0  [{'barcode': 'B076FJ92M4', 'description': 'mue...
1115                 NaN                                                NaN
1116                 NaN                                                NaN
1117                 2.0  [{'barcode': 'B076FJ92M4', 'description': 'mue...
1118                 NaN                                                NaN

     rewardsReceiptStatus  totalSpent                    userId
0                FINISHED       26.00  5ff1e1eacfcf6c399c274ae6
1                FINISHED       11.00  5ff1e194b6a9d73a3a9f1052
2                REJECTED       10.00  5ff1e1f1cfcf6c399c274b0b
3                FINISHED       28.00  5ff1e1eacfcf6c399c274ae6
4                FINISHED        1.00  5ff1e194b6a9d73a3a9f1052
...                   ...         ...                       ...
1114             REJECTED       34.96  5fc961c3b8cfca11a077dd33
1115            SUBMITTED         NaN  5fc961c3b8cfca11a077dd33
1116            SUBMITTED         NaN  5fc961c3b8cfca11a077dd33
1117             REJECTED       34.96  5fc961c3b8cfca11a077dd33
1118            SUBMITTED         NaN  5fc961c3b8cfca11a077dd33

[1119 rows x 15 columns]

In [5]:
data.count()

_id                        1119
bonusPointsEarned           544
bonusPointsEarnedReason     544
createDate                 1119
dateScanned                1119
finishedDate                568
modifyDate                 1119
pointsAwardedDate           537
pointsEarned                609
purchaseDate                671
purchasedItemCount          635
rewardsReceiptItemList      679
rewardsReceiptStatus       1119
totalSpent                  684
userId                     1119
dtype: int64

In [6]:
data.isna().sum()

_id                          0
bonusPointsEarned          575
bonusPointsEarnedReason    575
createDate                   0
dateScanned                  0
finishedDate               551
modifyDate                   0
pointsAwardedDate          582
pointsEarned               510
purchaseDate               448
purchasedItemCount         484
rewardsReceiptItemList     440
rewardsReceiptStatus         0
totalSpent                 435
userId                       0
dtype: int64

In [7]:
data['extracted_id'] = pd.DataFrame(data['_id'].apply(lambda x: x['$oid']))
print(type(data['extracted_id']))

<class 'pandas.core.series.Series'>

In [8]:
data['extracted_id'].count()

1119

In [9]:
distinct_id = data['extracted_id'].unique().size
print(distinct_id)

1119

In [10]:
rewards_receipts_item_df = pd.DataFrame(data['rewardsReceiptItemList'])

In [11]:
print(type(rewards_receipts_item_df))

<class 'pandas.core.frame.DataFrame'>

In [12]:
rewards_receipts_item_df.head(10)

                              rewardsReceiptItemList
0  [{'barcode': '4011', 'description': 'ITEM NOT ...
1  [{'barcode': '4011', 'description': 'ITEM NOT ...
2  [{'needsFetchReview': False, 'partnerItemId': ...
3  [{'barcode': '4011', 'description': 'ITEM NOT ...
4  [{'barcode': '4011', 'description': 'ITEM NOT ...
5  [{'barcode': '4011', 'description': 'ITEM NOT ...
6  [{'brandCode': 'MISSION', 'competitorRewardsGr...
7  [{'barcode': '046000832517', 'brandCode': 'BRA...
8  [{'barcode': '4011', 'description': 'ITEM NOT ...
9  [{'barcode': '4011', 'description': 'ITEM NOT ...

In [13]:
# Count of records with 'barcode'
def has_barcode(item_list):
    if isinstance(item_list, list):  # Checking if it's a list (avoid NaN)
        for item in item_list: 
            if isinstance(item, dict) and 'barcode' in item:
                return True
    return False

barcode_count = rewards_receipts_item_df['rewardsReceiptItemList'].apply(has_barcode).sum()

print(f"Number of records with a barcode: {barcode_count}")

Number of records with a barcode: 593

In [14]:
flattened_data = rewards_receipts_item_df['rewardsReceiptItemList'].explode()

In [15]:
flattened_data

0       {'barcode': '4011', 'description': 'ITEM NOT F...
1       {'barcode': '4011', 'description': 'ITEM NOT F...
1       {'barcode': '028400642255', 'description': 'DO...
2       {'needsFetchReview': False, 'partnerItemId': '...
3       {'barcode': '4011', 'description': 'ITEM NOT F...
                              ...
1115                                                  NaN
1116                                                  NaN
1117    {'barcode': 'B076FJ92M4', 'description': 'muel...
1117    {'barcode': 'B07BRRLSVC', 'description': 'thin...
1118                                                  NaN
Name: rewardsReceiptItemList, Length: 7381, dtype: object

In [16]:
# Count all barcodes (including 'ITEM NOT FOUND')
barcode_present_count = flattened_data.apply(
    lambda x: isinstance(x, dict) and 'barcode' in x
).sum()

print(f"Number of records with a barcode (including 'ITEM NOT FOUND'): {barcode_present_count}")

Number of records with a barcode (including 'ITEM NOT FOUND'): 3090

In [17]:
user_data = pd.read_json('Desktop/users.json', lines=True)

In [18]:
user_data

,_id,active,createdDate,lastLogin,role,signUpSource,state
0,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
1,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
2,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
3,{'$oid': '5ff1e1eacfcf6c399c274ae6'},True,{'$date': 1609687530554},{'$date': 1609687530597},consumer,Email,WI
4,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
...,...,...,...,...,...,...,...
490,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN
491,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN
492,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN
493,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN
494,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN

In [19]:
oid_values = user_data['_id'].apply(lambda x: x['$oid'])
print(oid_values)

0      5ff1e194b6a9d73a3a9f1052
1      5ff1e194b6a9d73a3a9f1052
2      5ff1e194b6a9d73a3a9f1052
3      5ff1e1eacfcf6c399c274ae6
4      5ff1e194b6a9d73a3a9f1052
                 ...
490    54943462e4b07e684157a532
491    54943462e4b07e684157a532
492    54943462e4b07e684157a532
493    54943462e4b07e684157a532
494    54943462e4b07e684157a532
Name: _id, Length: 495, dtype: object

In [20]:
oid_values.unique().size

212

In [21]:
created_date_count = user_data['createdDate'].notna().sum()

In [22]:
created_date_count

495

In [23]:
last_login_count = user_data['lastLogin'].notna().sum()

In [24]:
last_login_count

433

In [25]:
role_type = user_data['role'].dropna().unique().tolist()

In [26]:
role_type

['consumer', 'fetch-staff']